@import "../../../../common/style";
.todayChartLabel{
  @include FlexBox($js:space-between);
  text-align: center;
  padding:10px 0 30px;
  color:$text-color;
  font-weight: 700;
  li{
    @include FlexBox(column-reverse);
    div{
      width: 50px;
      height: 50px;
    }
  }
}