//color
$background-color:#FCFDFF;
$boxShadow-color:#DBEAFE;
$sub-color:#BFDBFE;
$textSub-color:#3b82f6;
$text-color:#1E3A8A;
$usually:#ca8a04;
$bad:#dc2626;
$good:#16a34a;

//반응형
@mixin PC {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin Mobile {
  @media (max-width: 767px) {
    @content;
  }
}

//Box Mixin
@mixin PositionBox ($p:null,$t:null,$l:null,$b:null,$r:null){
  position:$p;
  top:$t;
  left:$l;
  bottom:$b;
  right:$r;

}
@mixin FlexBox ($d:null,$js:null,$item:null){
  display: flex;
  flex-direction: $d;
  justify-content: $js;
  align-items: $item;
}
